$base-font-family: 'Lato', sans-serif;
$base-font-color: #cccccc;
$base-font-size: 16px;
$base-bg-color: #1d3d56;
$base-bg-dark-color: #132634;
$content-dark-bg-color: #232527;
$primary-color: #CC8C72;
$primary-hover-color: #A56044;
$secondary-hover-color: #00b3e7;
$secondary-color: #0095c0;